github "mxcl/PromiseKit" ~> 6.8.4

github "ParsePlatform/Parse-SDK-iOS-OSX"

# github "tristanhimmelman/AlamofireObjectMapper" ~> 6.0.0
github "openium/AlamofireObjectMapper" "5.x-swift5"

github "ReactiveX/RxSwift" ~> 4.4.0
