<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DataSourceNotificationCenter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>ObjectMapperDataSource.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>705D2DA21E5E4064005D3A5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>705D2DD11E5F6CA6005D3A5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>705D2DF11E5F8FF1005D3A5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
